body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    color: blanchedalmond;    
}

@media (max-width: 575px) {
    h1 {
        font-size: 2rem;
        font-weight: 700;
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    overflow: auto;
}
@media (max-height: 600px) {
    .content {
        justify-content: center;
    }
}
.header {

    width: 100%;
    padding: 30px;
    background-color: #333;
}


@media (max-width: 575px) {
    .header {
        padding: 15px;
    }
}
.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    overflow: auto; /* Add overflow to enable scrolling if content exceeds game div height */
    padding: 20px;
}

.logo {
    width: 200px;
    height: auto;
    margin: 0 auto;
}
@media (max-width: 575px) {
    .logo {
        width: 150px;
    }
}


.footer {

    width: 100%;
    padding: 15px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
}

@media (max-width: 575px) {
    .footer {
        flex-direction: column;
    }
}
@media (max-height: 600px) {
    .footer, .header {
        display: none;
    }
    .game {
        margin: 0 auto;
    }
}