body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    color: rgb(255, 255, 230)      
}

.content {
    background-image: url("./images/background.jpg");
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.header {
    height: 200px;
    width: 100%;
    padding: 30px;
}

.game-core {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 70px;
    background-color: rgb(255, 255, 230);
    width: 500px;   
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.logo {
    width: 200px;
    height: auto;
}

#result{
    margin-top: 1rem;
    text-align: center; 
    text-wrap: wrap;
    font-size: 1.2rem; 
    color: #333; 
    font-weight: bold; 
    letter-spacing: 1px;
}

.footer {
    width: 100%;
    padding: 15px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
}

@media (max-width: 575px) {
    .content {
        height: auto;
    }
    h1 {
        font-size: 2rem;
        font-weight: 700;
    }
    .header {
        padding: 15px;
    }
    .logo {
        width: 150px;
    }
    .game-core{
        width: 70%;
        padding: 30px;;
    }
    #result {
        font-size: 1rem;
    }    
    .footer {
        flex-direction: column;
    }
}